*{
	font-family: $font-titulo-dos;
}
body{
	background-color: $color-body;
	overflow-x: hidden;
}
ul{
	padding: 0px;
}
/******SECCION UNO*******/
.first-section{
	nav{
		position: fixed;
		z-index: 1000;
		width: 100%;
		background-color: transparent;
		border: none;
		div{
			padding: 15px 15px;
			div{
				color: $color-titulo-uno;
				button{
					@include boton();
				}
			}
		}
	}
}
/*no me resultó con ruta como arriba snifff*/
.navbar-default .navbar-brand, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > li > a{
	color: $color-titulo-uno;
}
.carousel-caption{
	padding-bottom: 400px;
	h2{
		@include tituloCarrusel();
	}
	button{
		@include boton();
		margin-top: 15px;
	}
}

/*******SECCION TRES********/
.third-section{
	div{
		background-color: $color-titulo-uno;
		border-radius: $radius-botones;
		text-align: $centrar;
    	div{
    		div{
    			h3{
    				@include tituloThirdSection();
    			}
    			p{
    				color: $color-relleno;
					font-weight: $font-light;
					padding: 10px 0 80px 0;
    			}
    		}
    		div{
    			h4{
    				padding: 40px 80px 80px;
    				font-weight: $font-light;
    				color: $color-relleno;
    			}
    		}
    	}
	}
}
.fa-th{
	color: $color-botones;
}
.fa-th-list{
	color: $color-th;
}
.fa-bars{
	color: $color-bars;
}

/**********SECCION CUATRO***********/
.fourth-section{
    div{
		background-image: url(../img/img_city.jpg);
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    div{
	    	div{
	    		iframe{
	    			margin: 15px 0;
	    		}
	    	}
	    }
	    div{
	    	div{
	    		img{
	    			width: 100%;
	    			margin-top: 75px;
	    		}
	    	}
	    	div{
	    		h3{
	    			color: $color-titulo-uno;
	    			font-weight: $font-bold;
	    			font-size: 36px;
	    			font-family: $font-titulo;
	    			margin-top: 75px;
	    		}
	    		p{
	    			color: $color-titulo-uno;
	    			padding-top: 15px;
	    		}
	    	}
	    }
    }
}

/********SECCION CINCO**********/
.fifth-section{
	text-align: center;
	div{
		background-color: $color-secciones;
		div{
			div{
				div{
					div{
						p{
							padding: 0 0 45px;
						}
					}
				}
				h5{
					color: $color-botones;
				}
				img{
					width: 100%;
				}
			}
		}
		div{
			div{
				h2{
					@include tituloSecciones();
					padding: 40px 0 20px;
				}
				h3{
					@include subtituloSecciones();
				}
			}
		}
	}
}
.sub-ti{
	@include tituloThirdSection();
}

/******SECCION SEIS********/
.sixth-section{
	text-align: $centrar;
	div{
		background-color: $color-titulo-uno;
		div{
			div{
				div{
					text-align: left;
					div{
						h4{
							@include tituloThirdSection();
						}
						h6{
							color: #7F7F7F;
							font-weight: $font-bold;
						}
						p{
							color: $color-relleno;
						}
					}
				}
			}
		}
		div{
			div{
				img{
					width: 100%;
					margin: 1px 0 15px;
				}
			}
		}
			div{
				h3{
					@include tituloSecciones();
			}
				h5{
					@include subtituloSecciones();
			}
		}
	}
}
.fa-facebook{
	color: $color-fb;
}
.fa-google-plus{
	color: $color-gg;
}
.fa-twitter{
	color: $color-tw;
}
.fa-linkedin{
	color: $color-li;
}
.fa-pinterest{
	color: $color-pt;
}
.fa-dribbble{
	color: $color-dbb;
}
.ajuste{
	padding: 0 0 25px;
}

/*******SECCION SIETE********/
.seventh-section{
	div{
		background-color: $color-secciones;
			div{
				div{
					h2{
						@include tituloSecciones();
						margin-top: 43px;
					}
					p{
						color: $color-relleno;
					}
				}
				div{
					div{
						div{
							text-align: center;
							margin-top: 45px;
							h4{
								@include tituloValores(){
							}
						}
					}
				}
			}
		}
	}
}
.valores-caja{
	background-color: $color-titulo-uno !important; /*no lo podía cambiar sin el important*/
	box-shadow: 0 16px 13px 15px $color-body; 
	border-radius: $radius-botones;
}
.p-valor{
	color: #777777 !important; 
}
.signo-valor{
	font-size: 29px;
	color: #777777;
}
.valor{
	font-size: 50px;
	font-weight: $font-bold;
	color: #3C4858;
}
.val ul li{
	list-style: none;
	color: $color-relleno;
}
.val ul li span{
	color: #3C4858;
	font-weight: $font-bold;
}
button{
	@include boton();
}
.bu-val{
	margin-bottom: 15px;
}
.val{
	margin-bottom: 45px;
}

/*******SECCION OCHO********/
.eighth-section{
	text-align: center;
	div{
		background-color: $color-titulo-uno;
		div{
			div{
				h3{
					@include tituloSecciones();
				}
				p{
					@include subtituloSecciones()
				}
			}
		}
		div{
			div{
				img{
					width: 40%;
					box-shadow: 0 2px 26px 6px $color-body;
					margin-bottom: 15px;	
				}
				h4{
					font-weight: $font-bold;
					color: #5B6572;
				}
				h5{
					color: #8B8B8B;
				}
			}
		}
	}
}
.love-clients{
	margin-bottom: 45px;
}

/*****SECCION NUEVE*****/
.ninth-section{
	text-align: center;
	div{
		background-image: url(../img/about.jpg);
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    height: 401px;
	    div{
	    	div{
	    		h3{
	    			font-size: 30px;
					font-weight: $font-bold;
					font-family: $font-titulo;
					color: $color-titulo-uno;
					padding: 98px 0 20px;
	    		}
	    		p{
	    			color: $color-titulo-uno;
	    		}
	    	}
	    }
	}
}

/******SECCION DIEZ********/
.tenth-section{
	text-align: center;
	div{
		background-color: $color-titulo-uno;
		div{
			div{
				h3{
					@include tituloSecciones();
				}
				p{
					@include subtituloSecciones()
				}
			}
		}
		div{
			div{
				img{
					width: 100%;
				}
				h5{
					text-align: left;
					color: $color-botones;
				}
				h4{
					text-align: left;
					color: #3C4858;
					font-weight: $font-bold;
				}
				a{
					text-align: left;
					color: #3C4858;
					padding-bottom: 45px;
				}
			}
		}
	}
}

/*****SECCION ONCE******/
.eleventh-section{
	div{
		background-image: url(../img/img_city.jpg);
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    position: relative;
	    z-index: 1;
	    div{
	    	div{
	    		h3{
	    			color: $color-titulo-uno;
	    			font-weight: $font-bold;
	    			font-size: 36px;
	    			font-family: $font-titulo;
	    			margin-top: 75px;
	    		}
	    		p{
	    			color: $color-titulo-uno;
	    		}
	    		div{
	    			div{
	    				color: $color-titulo-uno;
	    			}
	    		}
	    	}
	    }
	}
}
.caja-contacto{
	background-color: $color-titulo-uno !important;
	position: relative;
	z-index: 2;
}
.contacto{
	padding: 15px !important; 
	background-color: $color-botones !important;
}
	    	