@mixin boton(){
	background-color:$color-botones;
	color: white;
	padding: 11px 25px;
	border: $bordes-no;
	border-radius: $radius-botones;
}
@mixin tituloCarrusel(){
	font-size: 70px;
	font-weight: $font-bold;
}
@mixin tituloThirdSection(){
	font-size: 15px;
	font-weight: $font-bold;
	font-family: $font-titulo;
	color: $color-titulo-dos;
}
@mixin tituloSecciones(){
	font-size: 30px;
	font-weight: $font-bold;
	font-family: $font-titulo;
	color: $color-titulo-dos;
	padding: 40px 0 20px;
}
@mixin subtituloSecciones(){
	font-weight: $font-light;
	color: $color-subtitulo;
	padding: 0 0 20px;
}
@mixin tituloValores(){
	font-size: 13px;
	font-weight: $font-bold;
	font-family: $font-titulo;
	color: $color-relleno;
}