/**COLORES**/
$color-botones: #E91E63;
$color-body: #E2E2E2;
/*color icons header*/
$color-th: #00BCD4;
$color-bars: #4CAF50;
/*titulos*/
$color-titulo-uno: white;
$color-titulo-dos: #5B6572;

/**FONTS**/
$font-titulo: 'Lato', sans-serif;
$font-titulo-dos: 'Open Sans', sans-serif;
$tamanio-titulo: 35px;
$tamanio-titulos: 25px;

/**ESTILOS**/
$bordes-no: none;
$radius-botones: 5px;